@keyframes floatIn {
    0% {
      transform: translateY(20px);
      opacity: 0;
    }
    100% {
      transform: translateY(0);
      opacity: 1;
    }
  }
  
  .float-in {
    animation: floatIn 2s ease-out forwards;
  }

@keyframes slideInLeft {
    from {
      transform: translateX(-100%);
      opacity: 0;
    }
    to {
      transform: translateX(0);
      opacity: 1;
    }
  }
  
  @keyframes slideInRight {
    from {
      transform: translateX(100%);
      opacity: 0;
    }
    to {
      transform: translateX(0);
      opacity: 1;
    }
  }
  
  .slide-in-left {
    animation: slideInLeft 1s ease-out forwards;
  }
  
  .slide-in-right {
    animation: slideInRight 1s ease-out forwards;
  }
  